/03_wk3_lab.ipynb
/ames_raw.csv
/Ch-10 Manipulating Data.ipynb
/Ch-13 Starting Visualizations.ipynb
/Ch-14 Matplotlib.ipynb
/Getting Started with Jupyter.ipynb
/Headshot.jpg
/HMWK
/Importing Data and Panda.ipynb
/Lab2.ipynb
/Lecture(ControlFlow&Iteration).ipynb
/Practice With.py
/professional_bio_Finnian_Kephart.ipynb
/Python Basics.ipynb
/Week4Lab_KephartFinnian.ipynb
/Week5Lab_KephartFinnian.ipynb
/www.linkedin.com